* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    border: 0;
    outline: none;
    font-size: 16px;
    color: black;
    text-decoration: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background: #cccccc;
    position: relative;
}

header {
    background: #fff;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

footer {}

h1 {}

h2 {}

h3 {}

.container {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #fff;
}

.header__content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 7px;
}

.navigation__list {
    display: flex;
    column-gap: 20px;
}

.contact {
    display: flex;
    align-items: center;
    /* column-gap: 5px; */
        img {
            width: 30px;
        }
}

main {
    margin-top: 100px;
}

footer {
    background-color: bisque;
    position: absolute;
    width: 100%;
    left: 0;
}

.footer__contacts {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 7px;
    .footer__social > a {
        display: block;
        max-height: 30px;
        padding: 3px 7px;
        background-color: #cccccc;
        border: 2px solid #fff;
    }

    a > img {
        width: 30px;
    }
}

.footer__info {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 5px 7px;
}

.footer__line {
    background: #cccccc;
    width: 1200px;
    height: 2px;
    margin: 0 auto;

}

.footer__author {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

}